<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a routerLink="/home">Home</a>
      
      <div class="d-flex">
        <button *ngIf = 'logged() == false' routerLink="/login" class="btn btn-success" 
        type="Login">Login</button>
        <button *ngIf ='logged() == true' routerLink="/login" class="btn btn-success" 
        type="Logout" (click)="sessionlogout()">Logout</button>
      </div>
      
    </div>
  </nav>
  <router-outlet></router-outlet>
 
  